::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: black !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: black !important;
  } 

  ::ng-deep .mat-form-field-placeholder{

    color:grey;
  }

  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label{

    color:grey;
  }